.card {
  transition: all .1s ease;
  overflow: hidden;

  &:hover {
    transform: scale(1.1);
  }

  img {
    transform: scale(1);
    transition: all .1s ease;
  }

  .card-img-wrapper {
    overflow: hidden;
    position: relative;

    .member-icons {
      position: absolute;
      bottom: -60px;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      opacity: 0;
    }

    &:hover {
      .member-icons {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  .animate {
    transition: all 0.3s ease-in-out;
  }

  .btn {
    &.btn-icon {
      padding: .5rem 1rem;
    }
  }

  @keyframes fa-blink {
    0% {
      opacity: 1;
    }

    100% {
      opacity: .4;
    }
  }

  .is-online{
    // animation: fa-blink 1.5s linear infinite;
    color : rgb(1, 189, 42);
  }
}
