::ng-deep {
  .page-container {
    margin-top: 7.14rem;
  }
}

nav{
  padding : .714rem 0;

  .navbar-brand{
    > img{
      width : 2.857rem;
    }
  }

  .form-control{
    padding : .857rem !important;
    background-color: white;
  }
}
