@if(member){
<div class="row">
  <div class="col-md-3">
    <div class="card text-center">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img img-thumbnail">
      <div class="card-body">
        <div>
          <strong class="d-flex align-items-center justify-content-center"><i class="fa fa-map-marker me-2"></i> Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong class="d-flex align-items-center justify-content-center"><i class="fa fa-birthday-cake me-2 small" aria-hidden="true"></i> Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong class="d-flex align-items-center justify-content-center"><i class="fa fa-check-circle me-1" aria-hidden="true"></i> Last Active:</strong>
          <p>{{member.lastActive | timeago }}</p>
        </div>
        <div>
          <strong>Since:</strong>
          <p>{{member.createdd | date: 'dd MMM yyyy'}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary"><i class="fa fa-thumbs-up h4 m-0" aria-hidden="true"></i></button>
          <button class="btn btn-success"><i class="fa fa-comments h4 m-0" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <tabset class="member-tabs">
      <tab heading="About {{member.knownAs}}">
        <h4>Description</h4>
        <p>{{member.introduction}}</p>
        <h4>Looking for</h4>
        <p>{{member.lookingFor}}</p>
      </tab>
      <tab heading="Interests">
        <h4>Interests</h4>
        <p>{{member.interests}}</p>
      </tab>
      <tab heading="Photos" #photoTab="tab">
        @if(photoTab.active){
        <gallery [items]="images" class="gallery"></gallery>
        }
      </tab>
      <tab heading="Messages">
        <app-member-messages [username]="member.username"></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
}
