
::ng-deep{

  .input-group{
    max-width: 13rem;
  }
  @media only screen and (max-width: 600px) {
    .page-actions{

      .input-group{
        max-width: 100%;
      }

      flex-direction: column;
      h6, .ng-select, .btn{
        width : 100%;
        margin-top: 1rem;
      }

      h6{
        text-align: center;
      }
    }
  }

}
