<div class="row justify-content-center">
  <div class="d-flex justify-content-end w-100 mb-4 align-items-center">
    <h6 class="m-0 me-3">Showing {{memberService.paginatedResult()?.pagination?.totalItems}} results</h6>
    <button class="btn btn-primary me-4" (click)="openFilterModal(filterHtml)">Filter</button>
    <ng-select [(ngModel)]="memberService.userParams().orderBy" name="orderBy" style="min-width : 118px" placeholder="Sort by" (change)="sortChange($event)">
      @for (sort of sortingList; track $index) {
      <ng-option [value]="sort.value">{{sort.display}}</ng-option>
      }
    </ng-select>
  </div>
  @for (member of memberService.paginatedResult()?.items; track member.id) {
  <div class="col-md-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
  }
</div>
@if(memberService.paginatedResult()?.pagination){
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="memberService.paginatedResult()!.pagination!.totalItems"
    [itemsPerPage]="memberService.paginatedResult()!.pagination!.itemsPerPage" previousText="&lsaquo;"
    (pageChanged)="pageChangeEvent($event)" [maxSize]="10" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
}
<ng-template #filterHtml>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Filter</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #filterForm="ngForm" id="filter-form" (ngSubmit)="loadMembers();">
      <div class="row my-2">
        <div class="col-md-6">
          <label for="minAge">Age from: </label>
          <input type="number" class="form-control ms-1" name="minAge" [(ngModel)]="memberService.userParams().minAge">
        </div>
        <div class="col-md-6">
          <label for="maxAge">Age To: </label>
          <input type="number" class="form-control ms-1" name="maxAge" [(ngModel)]="memberService.userParams().maxAge">
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6 ">
          <label for="gender">Show: </label>
          <ng-select [(ngModel)]="memberService.userParams().gender" name="gender">
            @for (gender of genderList; track $index) {
            <ng-option [value]="gender.value">{{gender.display}}</ng-option>
            }
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-outline-primary btn" type="submit" form="filter-form">Apply</button>
    <button class="btn btn-outline-danger" (click)="resetFilter()">Reset</button>
  </div>

</ng-template>
