<div class="card mt-3">
  <div class="card-body" #chatScroll>
    @if(messageService.messageThread().length == 0){
      <div class="d-flex justify-content-center align-items-center h-100">
        <h2 class="text-primary"><i class="fa fa-comments me-3"></i>No messages yet</h2>
      </div>
    } @else {
      <div class="d-flex flex-column align-items-end justify-content-end">
        @for (message of messageService.messageThread(); track message.id) {
          <div class="chat-div d-flex mb-2" [ngClass]="message.senderUsername != username() ? 'chat-div-receiver' : 'chat-div-sender'">
              <div class="chat-body">
                <p class="m-0">{{message.content}}</p>
                <div class="header">
                  <small class="text-muted">
                    <i class="fa fa-clock-o"></i>
                    {{message.messageSent | timeago}}
                    @if(!message.dateRead && message.senderUsername != username()){
                      <span class="text-secondary ms-2"><i class="fa fa-check" aria-hidden="true"></i></span>
                    }
                    @if(message.dateRead && message.senderUsername != username()){
                      <span class="text-primary ms-2"><i class="fa fa-check" aria-hidden="true"></i></span>
                    }
                  </small>
                </div>
              </div>
          </div>
        }
      </div>

    }
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm)">
      <div class="input-group align-items-center">
        <!-- <button class="btn btn-primary" type="button" (click)="toggledEmoji = !toggledEmoji">Emoji</button> -->
        <textarea type="text" class="form-control input-sm me-2" placeholder="Send a private message" name="messageContent" [(ngModel)]="messageContent" required></textarea>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" [disabled]="!messageForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
@if(toggledEmoji){
  <emoji-mart title="Pick your emoji…" emoji="point_up" (emojiClick)="addEmoji($event)"></emoji-mart>
}
